.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px rgba(72, 85, 106, 0.15);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 88%;
}

.content {
  text-align: left;
}