.profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 38px 10px 38px;
  margin-top: 16.5px;
}

.name {
  color: var(--veryDarkGrayishBlue);
  font-weight: 700;
  margin: 0;
}

.name__date {
  color: var(--desaturatedDarkBlue);
  transform: translateX(-18px);
}

.button {
  background-color: var(--lightGrayishBlue);
  border: none;
  border-radius: 50%;
  height: 30px;

  width: 30px;
}

.button:hover {
  cursor: pointer;
}

.profile__image {
  border-radius: 50%;
  width: 40px;
}

.share {
  align-items: center;
  background-color: var(--veryDarkGrayishBlue);
  border-radius: 0 0 10px 10px;
  display: none;
  justify-content: space-between;
  padding: 10px 38px 10px 38px;

}

.share p {
  color: var(--lightGrayishBlue);
  font-size: .8rem;
  letter-spacing: .2rem;
}

.icons img {
  display: inline;
  padding: 6px;
  transform: translateX(-20px);
}

.button--clicked {
  background-color: var(--desaturatedDarkBlue);
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
}

.share__button--clicked {
  filter: brightness(1000%);

}

.share__button--clicked:hover {
  cursor: pointer;
}