.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 38px 20px 38px;
}

.name {
  margin: 0;
  color: var(--veryDarkGrayishBlue);
  font-weight: 700;
}

.name__date {
  transform: translateX(-18px);
  color: var(--desaturatedDarkBlue);
  
}

.share__button {
  background-color: var(--lightGrayishBlue);
  padding: 10px;
  border-radius: 50%;
}

.share__button:hover {
  cursor: pointer;
}

.profile__image {
  width: 40px;

  border-radius: 50%;
}