:root {
  font-family: "Manrope", "sans-serif"; }

body {
  background-color: #ecf2f8; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh; }

.container {
  display: flex;
  box-shadow: 0px 7px 20px 1px rgba(72, 85, 106, 0.25);
  background-color: white;
  width: 730px;
  height: 280px;
  border-radius: 10px; }
  @media (max-width: 767.98px) {
    .container {
      flex-direction: column;
      width: 330px;
      height: 520px; } }

.img {
  height: 100%;
  width: 290px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
  object-position: 0; }
  @media (max-width: 767.98px) {
    .img {
      width: 100%;
      height: 200px;
      border-radius: 10px 10px 0 0;
      object-position: 0 25%; } }

.info {
  display: flex;
  flex-direction: column;
  padding: 35px 40px; }
  @media (max-width: 767.98px) {
    .info {
      padding: 35px 37px; } }
  .info__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #48556a; }
    @media (max-width: 767.98px) {
      .info__title {
        font-size: 16px;
        line-height: 20px; } }
  .info__text {
    color: #6d7f97;
    font-size: 13px;
    line-height: 20px;
    padding-top: 20px; }
  .info__profile {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center; }
    @media (max-width: 767.98px) {
      .info__profile {
        margin-top: 48px;
        justify-content: space-evenly; } }
  .info__img {
    height: 40px;
    border-radius: 50%; }
  .info__data {
    display: flex;
    align-items: center; }
  .info__data-name-date {
    padding-left: 15px; }
  .info__name {
    font-size: 13px;
    font-weight: 700;
    color: #48556a; }
  .info__date {
    color: #6d7f97;
    font-size: 13px;
    margin-top: 5px; }
  .info__share-btn {
    border: none;
    background-color: #ecf2f8;
    margin-left: 40px;
    height: 33px;
    width: 33px;
    border-radius: 50%; }
    .info__share-btn:hover {
      cursor: pointer; }

.social {
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #48556a;
  width: 245px;
  height: 56px;
  position: absolute;
  transform: translate(220px, 95px); }
  @media (max-width: 767.98px) {
    .social {
      position: absolute;
      width: 330px;
      height: 65px;
      transform: translate(-37px, 219px);
      border-radius: 0 0 10px 10px; } }
  .social__icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 18px; }
    @media (max-width: 767.98px) {
      .social__icons {
        justify-content: space-evenly;
        transform: translateY(-5px); } }
  .social__share {
    color: #9eafc2;
    font-size: 13px;
    letter-spacing: 4px; }
  .social__facebook:hover, .social__twitter:hover, .social__pinterest:hover {
    cursor: pointer; }
  .social__triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #48556a;
    transform: translateY(15px); }
    @media (max-width: 767.98px) {
      .social__triangle {
        display: none; } }
  .social__btn {
    display: none; }
    @media (max-width: 767.98px) {
      .social__btn {
        display: flex;
        background-color: #6d7f97;
        border: none;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        margin-left: 40px; }
        .social__btn:hover {
          cursor: pointer; } }
  .social__share-btn {
    transform: translate(25%, 60%);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) brightness(104%); }

.attribution {
  margin-top: -6vh;
  text-align: center;
  font-size: 12px; }

/*# sourceMappingURL=style.css.map */
