:root {
--veryDarkGrayishBlue: hsl(217, 19%, 35%);
--desaturatedDarkBlue: hsl(214, 17%, 51%);
--grayishBlue: hsl(212, 23%, 69%);
--lightGrayishBlue: hsl(210, 46%, 95%);
}

body {

  font-size: 13px;
  font-family: "Manrope", sans-serif;

  background-color: var(--lightGrayishBlue);
}

.attribution {
  font-size: 0.5rem;


}