.title {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 25px 38px 0 38px;
  color: var(--veryDarkGrayishBlue);
}

.text {
  color: var(--desaturatedDarkBlue);
  padding: 0 38px;
  font-size: .8rem;
  line-height: 1.25rem;
}