$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

:root {
  font-family: "Manrope", "sans-serif";
}

body {
  background-color: $light-grayish-blue;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  background-color: white;
  width: 730px;
  height: 280px;
  border-radius: 10px;
}

.img {
  height: 100%;
  width: 290px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
  object-position: 0;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 35px 40px;

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: $very-dark-grayish-blue;
  }

  &__text {
    color: $desaturated-dark-blue;
    font-size: 13px;
    line-height: 20px;
    padding-top: 20px;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
  }

  &__img {
    height: 40px;
    border-radius: 50%;
  }

  &__data {
    display: flex;
    align-items: center;
  }

  &__data-name-date {
    padding-left: 15px;
  }

  &__name {
    font-size: 13px;
    font-weight: 700;
    color: $very-dark-grayish-blue;
  }

  &__date {
    color: $desaturated-dark-blue;
    font-size: 13px;
    margin-top: 5px;
  }

  &__share-btn {
    border: none;
    background-color: $light-grayish-blue;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
}

.social {
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: $very-dark-grayish-blue;
  width: 245px;
  height: 56px;
  position: absolute;
  transform: translate(220px, 95px);

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 18px;
  }

  &__share {
    color: $grayish-blue;
    font-size: 13px;
    letter-spacing: 4px;
  }

  &__facebook,
  &__twitter,
  &__pinterest {
    &:hover {
      cursor: pointer;
    }
  }

  &__triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid $very-dark-grayish-blue;
    transform: translateY(15px);
  }
}

.attribution {
  margin-top: -10vh;
}
